{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_("Admin") }}{% endblock %}

{% block branding %}
<h1 id="site-name">
  <a href="{% url 'admin:index' %}" class="admin-logotype-link">
    <img
      src="{% static 'admin/img/logotype.svg' %}"
      alt="{{ site_header }}"
      class="admin-logotype"
      width="200"
      height="77"
      decoding="async"
    />
  </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/admin_logotype.css' %}" />
{% endblock %}
